# ignore ALL .log files
*.log

# ignore ALL .json files
*.json
skilful-mercury-444620-s6-2526f9ed3422.json
credentials.json
token.json

# ignore ALL .pyc files
__pycache__/
*.pyc


# Ignore everything inside folder1
Emails/*

# Allow specific files in folder1
!Emails/Email_labels.py
!Emails/Email_processing.py
!Emails/Email_send_to.py
!Emails/Gmail_auth.py
!Emails/__init__.py

# ignore ALL files in ANY directory named temp
temp/
Creds/
__pycache__/

.env

#Ignote database
sender_statistics.db

Dockerfile
.env
.vscode/*
token_base64.txt
sensitive-replace.txt
